<svg class="human-guide" viewBox="0 0 100 130" aria-hidden="true">
  <ellipse class="human-guide-shadow" cx="50" cy="123" rx="24" ry="4"/>
  <g class="human-guide-float">
    <path class="human-hair-back" d="M34 36c-5-21 2-31 17-31 17 0 23 14 17 34l-2 22 9 16-8 4-10-20H42L31 82l-8-4 9-20z"/>
    <path class="human-neck" d="M45 46h12v14H45z"/>
    <path class="human-face" d="M50 12c11 0 17 8 17 21 0 12-7 21-17 21s-17-9-17-21c0-13 6-21 17-21z"/>
    <path class="human-fringe" d="M33 32c-2-17 6-27 19-27 14 0 22 11 17 27l-5-8c-8 2-16-1-22-7-1 6-4 11-9 15z"/>
    <path class="human-brow" d="m39 31 5-1m12 0 5 1"/>
    <ellipse class="human-eye" cx="42" cy="35" rx="1.6" ry="2.3"/><ellipse class="human-eye" cx="58" cy="35" rx="1.6" ry="2.3"/>
    <path class="human-smile" d="M45 43q5 4 10 0"/>
    <path class="human-torso" d="M29 68c3-8 9-12 17-14l4 8 5-8c9 2 14 6 17 14l7 37H22z"/>
    <path class="human-blouse" d="m46 59 4 7 5-7 8 46H38z"/>
    <path class="human-lapel" d="m39 57 11 18 9-18m-9 18v30"/>
    <path class="human-sleeve human-left-arm" d="M31 66 20 84l7 7 15-17"/>
    <path class="human-hand" d="M20 84q-8 1-8 8l4 4 10-5 1-6z"/>
    <path class="human-sleeve human-wave-arm" d="m68 64 11-19 6 3-7 25"/>
    <path class="human-hand human-wave-hand" d="M79 49q-2-8 1-11l3-1 1 8 3-12q2-3 4 0l-1 13 3-8q3-2 4 2l-4 15-9 2z"/>
    <path class="human-pin" d="m59 69 3 3-3 3-3-3z"/>
  </g>
</svg>
